{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <p class="about-text">
        <marquee behavior="alternate" scrollamount="12"
                 style="color:green;word-spacing:10px;font-size:40px;text-shadow:2px 2px 6px limegreen;">
            <img src="{% static 'images/ravi_icon.ico' %}" style="max-height:50px;">RvChat App for FREE!!
        </marquee><br>
        Register free to avail free chat service.<br>
        Un-limit flirt with unknown friends<br>
        Make unlimited friends<br><br><br><br>
        For any complaints are queries contact Email:ravikiranb36@gmail.com
    </p>
</div>
{% endblock %}
